@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Home</h1>
    <p>Scope1: @Model.Scope1.UId</p>
    <p>Scope2: @Model.Scope2.UId</p>
    <p>Scope3: @Model.Scope3.UId</p>
    <p>---</p>
    <p>Transient1: @Model.Transient1.UId</p>
    <p>Transient2: @Model.Transient2.UId</p>
    <p>Transient3: @Model.Transient3.UId</p>
    <p>---</p>
    <p>Singleton1: @Model.Singleton1.UId</p>
    <p>Singleton2: @Model.Singleton2.UId</p>
    <p>Singleton3: @Model.Singleton3.UId</p>
</div>
